<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeAR"
        tools:targetApi="31">
        <activity
            android:name=".currentTrackings.CurrentTrackings"
            android:exported="false" />
        <activity
            android:name=".pendingShipments.PendingShipments"
            android:exported="false" />
        <activity
            android:name=".AddTracking"
            android:exported="false" />
        <activity
            android:name=".ARDelivery"
            android:exported="false" />
        <activity
            android:name=".ARScanner"
            android:exported="false" />
        <activity
            android:name=".DeliveryConfirmation"
            android:exported="false" />
        <activity
            android:name=".pendingShipments.CourierTrackingDetailsMap"
            android:exported="false" />
        <activity
            android:name=".pendingShipments.CourierTrackingDetails"
            android:exported="false" />
        <activity
            android:name=".currentTrackings.ClientTrackingDetailsMap"
            android:exported="false" />
        <activity
            android:name=".profile.ClientProfile"
            android:exported="false" />
        <activity
            android:name=".profile.CourierProfile"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".CourierLogIn"
            android:exported="false" />
        <activity
            android:name=".ClientSignUp"
            android:exported="false" />
        <activity
            android:name=".currentTrackings.ClientTrackingDetails"
            android:exported="false" />
        <activity
            android:name=".ClientLogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>